.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 135px 0;
}

.Header_logo {
    font-family: 'Mazzard M';
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.Header_nav {
    display: flex;
    align-items: center;
}

.Header_nav_items {
    display: flex;
    justify-content: space-between; 
}

.Header_nav_item {
    font-size: 18px;
    color: #fff;

    background-color: transparent;
    transition: all .1s linear;
}

.Header_nav_item:hover {
    opacity: .7;
}

.Header_nav_item + .Header_nav_item {
    margin-left: 45px;
}

.Header_nav_button {
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;

    background: linear-gradient(140.6deg, #FFFFFF -27.18%, #DEDEDE 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);

    transition: all .1s linear;
}

.Header_nav_button:hover {
    opacity: .8;
    
}

.Header_nav_button:hover .Header_nav_button_icon {
    transform: translateY(-100%) translateX(100%);
}
.Header_nav_button:hover .Header_nav_button_icon-hidden {
    transform: translateY(0%) translateX(0%);
}

.Header_nav_button_icon_container {
    width: 14px;
    height: 14px;
    position: relative;
    overflow: hidden;
    margin-left: 14px;
}

.Header_nav_button_icon {
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s linear;
}

.Header_nav_button_icon-hidden {
    transform: translateY(150%) translateX(-150%);
}

.Header_nav_mob {
    position: relative;
    height: 8px;
    width: 32px;
    display: none;
}

.Header_nav_mob::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.Header_nav_mob::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

@media (max-width : 1200px) {
    .Header {
        padding: 22px 85px 0;
    }
}

@media (max-width : 1024px) {
    .Header {
        padding: 22px 45px 0;
    }
}

@media (max-width : 768px) {
    .Header {
        padding: 40px 30px 0;
    }

    .Header_nav {
        display: none;
    }

    .Header_nav_mob {
        display: block;
    }
}